body {
	background: #f1f1f1;
}
.box-shadow-bottom {
	box-shadow: 5px -9px 17px #444;
}
.bg-white {
	background: #fff;
}
.courgette {
	font-family: 'Courgette', cursive;	
}
.dancing {
	font-family: 'Dancing Script', cursive;
}
.lucky {
	font-family: 'Luckiest Guy', cursive;
}